@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  background: #f1f1f1;
  background-image: linear-gradient(pink .01em, transparent .1em), linear-gradient(90deg, pink .01em, transparent .1em);
  background-size: 3em 3em;
  background-position: center;
}
